:root{
    --primaryColor:#4b7bec;
    --secColor:#3867d6;
    --app-white:#d1d8e0;
}
body{
    padding-top: 50px;
}
#map__wrapper{
    
    background-color: #4b6584;
}
#map{
    min-height: calc(100vh - 50px);
    margin-left: -0.75rem;
    margin-bottom: -0.75rem;
}
#topNavBar{
    position: fixed;
    height: 50px;
    width: 100%;
    left:0;
    top:0;
    background-color: var(--primaryColor);
    color: white;
    /* display: flex;
    justify-content: space-between; */

}


#logo{

    justify-content: flex-start;
    padding-left: 0.75rem;
    color: white
}

#logo *{
  color: inherit !important;  
}

#sidebar__wrapper{
    /* height: 100%;no need */
    background-color: var(--secColor);
}

#form{
    padding:0.75rem
}

.has-text-white{
    color: #d1d8e0 !important;
}

#notification{
    position: fixed;
    margin: 0 0.75rem;
    right: 1.25rem;
    top: 75px;
    min-width: 200px;
    max-width:300px;
    height: 70px;
    z-index: 100;
}